
<div class="todo-item" (click)="onTodoClicked()" [class.completed]="todo.completed">

  <!-- Displays text -->
  <div class="todo-text">
    {{ todo.text }}
  </div>

  <div class="todo-controls-box" appToolTipSingleton (click)="$event.stopPropagation()">

    <div class="todo-control-button" appToolTip="Edit Todo">

      <button
      type="button"
      class="btn btn-outline-primary btn-sm col-me-2 float-end"
      data-toggle="modal"
      data-target="#exampleModal"
      appToolTip="Edit Todo"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"

      >
      Edit</button>

  </div>
    <button
        class="btn btn-outline-danger btn-sm col-me-2 float-end"
        type="button"
        data-bs-target="#exampleModal"
        appToolTip="Delete Todo"
        (click)="onDeleteClicked(todoIndex)"
      >
        Delete
    </button>



  </div>

</div>

<!-- Modal -->

<div
class="modal fade"
id="exampleModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true">
  <div
  class="modal-dialog"
  role="document">
    <div
    class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Edit Todo</label>
            <input
            type="text"
            class="form-control"
            id="recipient-name"
            #todoTextField
            name="text"
            required
            minlength="2"
            [(ngModel)]="editedText"
          ></div>

          <div *ngIf="todoTextField.invalid">
            <p class="help is-danger" *ngIf="todoTextField.errors.required">Please enter the text of your todo</p>
            <p class="help is-danger" *ngIf="todoTextField.errors.minlength">Todo text must be at least 2 characters</p>
        </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onEditClicked()">Submit</button>
      </div>
    </div>
  </div>
</div>
