
<!-- <div class="todo-item" (click)="onTodoClicked()" [class.completed]="todo.completed"> -->

  <div *ngIf="todo.isCompleted != true" class="p-2 shadow border card mt-3">
  <!-- Displays text -->

  <details>
    <summary class="text-primary">
      {{ todo.text }}
    </summary>
    <p class="card border-0 text-info">
      {{ todo.details }}
    </p>
  </details>


      <!-- <div class="todo-text">
        {{ todo.text }}
      </div> -->

  <div
    class="todo-controls-box"
    (click)="$event.stopPropagation()">

    <div class="todo-control-button" appToolTip="Edit Todo">
      <button
      class="btn btn-outline-success btn-sm col-me-2 float-start"
      type="button"
      data-bs-target="#todoItemModal_{{ todoIndex }}"
      appToolTip="Delete Todo"
      (click)="onComplete(todo)"

      >
        Check
      </button>

      <button
      type="button"
      class="btn btn-outline-primary btn-sm col-me-2 float-end"
      data-toggle="modal"
      data-target="#todoItemModal_{{ todoIndex }}"
      appToolTip="Edit Todo"
      data-bs-toggle="modal"
      attr.data-bs-target="#todoItemModal_{{ todoIndex }}"

      >
      Edit</button>

  </div>
    <button
        class="btn btn-outline-danger btn-sm col-me-2 float-end"
        type="button"
        data-bs-target="#todoItemModal_{{ todoIndex }}"
        appToolTip="Delete Todo"
        (click)="onDelete(todo)"

      >
        Delete
    </button>



  </div>

<!-- </div> -->
<!-- (click)="onDeleteClicked(todoIndex)" -->
<!-- Modal -->

      <div
      class="modal fade"
      id="todoItemModal_{{ todoIndex }}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="todoItemModal_{{ todoIndex }}Label"
      aria-hidden="true">
        <div
        class="modal-dialog"
        role="document">
          <div
          class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="todoItemModal_{{ todoIndex }}Label">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Edit Todo</label>
                  <input
                  type="text"
                  class="form-control"
                  id="recipient-name"
                  #todoTextField
                  name="text"
                  required
                  minlength="2"
                  [(ngModel)]="editedText"
                  placeholder="{{todo.text}}"
                  >
                  <input
                  type="text"
                  class="form-control"
                  id="recipient-name"
                  #todoTextField
                  name="text"
                  required
                  minlength="2"
                  [(ngModel)]="detailsText"
                  placeholder="{{todo.details}}"
                  >



                </div>

                <!-- <div *ngIf="todoTextField.invalid">
                  <p class="help is-danger" *ngIf="todoTextField.errors.required">Please enter the text of your todo</p>
                  <p class="help is-danger" *ngIf="todoTextField.errors.minlength">Todo text must be at least 2 characters</p>
                  <p>{{todoIndex}}</p>
              </div> -->
              </form>
            </div>

            <div class="modal-footer">
              <button
                  type="button"
                  class="btn btn-primary"
                  (click)="onEditClicked(todoIndex)"
              >Submit</button>
            </div>
          </div>
        </div>
      </div>
</div>

<!-- <div *ngIf="todo.completed === true">
  <i>{{todo.text}}</i>
  </div> -->
<!-- add details to edit function -->
