<div class="container-fluid bg-light title" style="position: relative; top: 30px;">
  <div class="container bg-light">

    <div class="row mt-4" >

      <div class="col-md-9 mx-auto bg-white shadow pb-3">
        <div class="sticky-header">


        <div class="card bg-info mt-4">
          <h4 class="text-white p-3 pt-2 pb-2 ">To Do Tracker</h4>
        </div>

      <!-- <div class="container"> -->
        <div class="shadow">

          <form #form="ngForm" (ngSubmit)="addTodo(form)">
              <div class="input-group p-4">
                <input
                ngModel
                #todoTextField="ngModel"
                required
                minlength="2"
                name="text"
                type="text"
                class="form-control input"
                placeholder="Enter todo "
                />
                <input
                ngModel
                #todoTextField="ngModel"
                required
                minlength="2"
                name="details"
                type="details"
                class="form-control input"
                placeholder="Details "
                />
                <button
                  class="btn btn-outline-success"
                  type="submit"
                  >

                  New Task
                </button>
              </div>
            </form>
        </div>


      <h4 class="text-primary mt-4">Todos :</h4>

                    <app-todo-item
                        *ngFor="let todo of todoArr; let i = index"
                        [todo]="todo"
                        [todoIndex]="i"
                        (todoClicked)="isCompleted(todo)"
                        (editClicked)="onEditTodo()"
                        (deleteClicked)="deleteTodo(todo)"

                  ></app-todo-item>

      </div>
    </div>
  </div>


