<h1>Month</h1>

<div class="table-responsive-lg">
  <table class="table table-light align-middle table-bordered border-secondary">
   <thead>
      <tr>
        <th scope="col">Sunday</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
      </tr>
   </thead>
    <tbody class="table-group-divider">
     <tr>
      <!-- <th scope="row">1</th> -->
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <!-- <th scope="row">2</th> -->
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <!-- <th scope="row">3</th> -->
        <!-- <td colspan="2">Larry the Bird</td> -->
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <!-- <th scope="row">3</th> -->
        <!-- <td colspan="2">Larry the Bird</td> -->
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <!-- <th scope="row">3</th> -->
        <!-- <td colspan="2">Larry the Bird</td> -->
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <!-- <th scope="row">3</th> -->
        <!-- <td colspan="2">Larry the Bird</td> -->
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
    </tbody>
  </table>

</div>
